{{ block "header" . }}
<header
  class="w-1/2 flex justify-between items-center"
>
  <img
    src="assets/icon.svg"
    alt="Habits ícone"
    class="h-14"
  >
  <button
    class="border-x-violet-500 border-x hover:border-x-violet-700 transition rounded p-4 flex items-center gap-2 group"
    onclick="document.getElementById('create-habit').showModal()"
    >
    <i data-feather="plus" class="text-violet-500 group-hover:text-violet-700 transition"></i>
    <span class="text-white">Novo hábito</span>
  </button>
</header>
{{ end }}
