{{ block "index" . }}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Habits</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  </head>
  <body class='w-screen h-screen p-0 bg-zinc-950 gap-8 flex flex-col justify-center items-center'>
    {{ template "header" . }}
    {{ template "table" . }}
    {{ template "create-habit" . }}
    <script>
      feather.replace();
    </script>
  </body>
</html>
{{ end }}
