{{ block "table" . }}
<div class="w-3/4 h-[15.8rem] flex gap-4">
  <ul class="h-full flex flex-col justify-around">
    {{ template "item-label" "D" }}
    {{ template "item-label" "S" }}
    {{ template "item-label" "T" }}
    {{ template "item-label" "Q" }}
    {{ template "item-label" "Q" }}
    {{ template "item-label" "S" }}
    {{ template "item-label" "S" }}
  </ul>
  <div class="h-full">
    <ul class="h-full flex flex-col flex-wrap items-center gap-1">
      {{ range .Days }}
        {{ template "block" . }}
        {{ template "edit-day" . }}
      {{ end }}
    </ul>
  </div>
  <script>
    feather.replace();
  </script>
</div>
{{ end }}

{{ define "item-label" }}
<li class="text-zinc-400 text-lg">{{ . }}</li>
{{ end }}

{{ define "block" }}
  {{ if gt .Points 0.83 }}
    {{ template "block-5" . }}
  {{ else if gt .Points 0.66 }}
    {{ template "block-4" . }}
  {{ else if gt .Points 0.5 }}
    {{ template "block-3" . }}
  {{ else if gt .Points 0.33 }}
    {{ template "block-2" . }}
  {{ else if gt .Points 0.16 }}
    {{ template "block-1" . }}
  {{ else }}
    {{ template "block-0" . }}
  {{ end }}
{{ end }}

{{ define "block-0" }}
<button
  title="{{ .Date }}"
  class="w-8 h-8 rounded bg-zinc-900 stroke-zinc-800"
  onclick="document.getElementById('btn-{{ .ID }}').showModal()"
  >
</button>
{{ end }}

{{ define "block-1" }}
<button
  title="{{ .Date }}"
  class="w-8 h-8 rounded bg-violet-900 stroke-violet-700"
  onclick="document.getElementById('btn-{{ .ID }}').showModal()"
  >
</button>
{{ end }}

{{ define "block-2" }}
<button
  title="{{ .Date }}"
  class="w-8 h-8 rounded bg-violet-800 stroke-violet-600"
  onclick="document.getElementById('btn-{{ .ID }}').showModal()"
  >
</button>
{{ end }}

{{ define "block-3" }}
<button
  title="{{ .Date }}"
  class="w-8 h-8 rounded bg-violet-700 stroke-violet-500"
  onclick="document.getElementById('btn-{{ .ID }}').showModal()"
  >
</button>
{{ end }}

{{ define "block-4" }}
<button
  title="{{ .Date }}"
  class="w-8 h-8 rounded bg-violet-600 stroke-violet-500"
  onclick="document.getElementById('btn-{{ .ID }}').showModal()"
  >
</button>
{{ end }}

{{ define "block-5" }}
<button
  title="{{ .Date }}"
  class="w-8 h-8 rounded bg-violet-500 stroke-violet-400"
  onclick="document.getElementById('btn-{{ .ID }}').showModal()"
  >
</button>
{{ end }}
